:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}
html{
    font-size:62.5%;
    box-sizing:border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-size:16px;
    font-family: 'Krub', sans-serif;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

span{
    font-size: 2rem;
}

/* estilo del header */

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content:center;
    
}

.header .logo{
    height: 15rem;
    width: 20rem;
}


.nav-principal{
    background-color: var(--secundario);
}


.nav-principal ul{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 25rem;
    align-items: center;
    margin-bottom: 2rem;
    list-style:none;
}



.nav-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.nav-principal a:hover{
    background-color: var(--primario);
    color:var(--oscuro)
}

@media (min-width: 576px) {
    .nav-principal ul {
        flex-direction: row;
        justify-content:space-evenly;
        height:6rem;

    }
}



/* estilo inicio */
.cuerpo {
    background-image: url(../img/fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 70rem;
    position: relative;
}


.cuerpo-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}

/* color de letra contenido inicio */
.cuerpo-container h2 {
    color: var(--blanco)
}


/* estilo servicios */
.servicios {
    background-image: url(../img/servicios.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 70rem;
}

.servicios-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  
}

.servicios-container h2{
    margin: 1rem;
}

@media (min-width: 576px) {
    .servicios-container{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
}

.servicios-container h2 {
    color: var(--blanco)
}

/* estilo nosotros */
.nosotros {
    background-image: url(../img/nosotros.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 70rem;
}

.nosotros-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.nosotros-container h2 {
    color: var(--blanco)
}


/* ESTILO PRODUCTOS */

#tarjeta{
    display: flex;
    justify-content: center;
}


/* ESTILO CONTACTO */
.formulario{
    background-color: var(--gris);
    width: min(50rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}



.formulario legend{
    text-align: center;
    font: size 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:2rem;
    color: var(--primario);
    
}


.form-camp{
    margin-bottom: 1rem;

}

.form-camp label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.form-camp textarea{
    height:18rem;
}